body {
    background-color: grey;
}

main{
    margin: 5%;
}

.draw-area {
    background-color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}