body {
    background-color: #434343;
    display: flex;
    justify-content: center;
}

main{
    margin: 1%;
    padding: 2%;
    background-color: grey;
    width: 700px;
}

.draw-area {
    background-color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left; 
    flex-wrap: wrap; 
}

.canvas-wrapper {
    margin:5%;
}

.result-wrapper {
    margin: 5%;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.result {
    background-color: silver;
    padding: 5px 10px;
}

.result > p {
    border: black;

}

.clear {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #434343;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    min-width: 150px;
}

.clear:hover {
    background: LightCoral;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

footer {
    margin: 10% 0;
}
