body {
    background-color: grey;
}

main{
    margin: 5%;
}

.draw-area {
    background-color: lightgrey;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

.model {
    width: 100%;
    height: 150px;
    padding: 3%;
    background-color: lightgrey;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}